bb-admin.iml
build

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Others
.idea
.DS_Store
.nyc_output
*.iml
yarn.lock
coverage
test_results.xml
