md-card.comic-detalle md-card-header {
  height: 300px !important;
  background-size: cover !important;
  background-position: center top !important;
  background-repeat: no-repeat !important;
}

textarea {
  width: 100%;
  height: 120px;
}
